@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.sidebar nav a {
  display: block;
  padding: 10px 20px;

  text-decoration: none;
  border-radius: 6px;
  font-size: 20px;
  margin: 0;
}
.sidebar nav a:hover {
  background: #475569;
  color: white;
}

/* main-content */
.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 0px 20px;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 64.5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}



.navbar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/*  */
.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box {
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login_form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.login_form input:focus {
  outline: none;
  border-color: #646cff;
}


.w-full th,
.w-full td{
  padding: 10px;
  text-align: left;
}
